// --------熱門特展------------------
.popular-exh {
  margin-top: 60px;
  .popular-img {
    display: block;
  }
  .popular-img img {
    height: 100%;
    object-fit: cover;
  }
  .popular {
    margin-bottom: 20px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popular-date {
  width: 30px;
  margin-left: 100;
}
p {
  font: size 20px;
  line-height: 30px;
}

@include media-breakpoint-down(md) {
  .popular .row {
    position: relative;
    .popular-date-area .col-md-2 {
      display: none;
      position: absolute;
      flex-direction: row-reverse;
    }
  }
}

.nav {
  height: 52px;
  border-bottom: 1px solid #707070;

  .nav-item a {
    padding: 0;
    margin: 12px 14px 3px 14px;
  }
  .nav-link {
    color: #707070;
  }
}
@media (max-width: 576px) {
  .popular-date {
    display: none;
  }
}
@media (min-width: 576px) {
  .popular-date-area {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-item a {
    padding: 0;
    margin: 12px 5px 3px 5px;
  }
  .header-sign a {
    display: none;
  }
  .design-title-date {
    display: none;
  }
  .fb-icon {
    display: none;
  }

 
}

@media (min-width: 768px) {
  .banner-title {
    position: absolute;
    top: 167px;
    left: 180px; display: none;
  }
  .titledata {
    display: none;
    .fb-icon {
      display: none;
    }
}
.title-date-x {
  display: none;
}
}
.fb-icon {
  .header-sign a {
    margin: 5px;
    text-decoration: none;
    color: #000;
  }

 
}

@media (min-width: 768px) {
  .title-date-x {
    display: none;
  }
}



//    -------------直播回顧-------------

.review-bg {
  background-color: #fff;
  background: url(../images/people2.png);
  background-size: contain;
}
.review {
  margin-top: 60px;
}
.review-fron {
  padding: 40px 20px;
  .people-img {
    margin: 30px 0;
  }
}

// 猜你也喜歡... ----------------

.swiper {
  margin: 60px 0 30px;
}
.swiper-container {
  height: 410px;
}

.swiper-wrapper {
  height: 520px;

  .swiper-slide {
    width: 350px;
    height: 350px;
  }
  .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .swiper-text {
    height: 120px;
    background: #000;
  }
}
