<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>

<body>
  <div class="container">
    <div class="row ">
      <!-- 刊頭 -->
      <div class="fixed-top bg-light ">
        <div class=" header position-relative ">
          <div class=" header-title ">EXHIBINECTION</div>

          <div class="header-sign  position-absolute top-50 end-0 translate-middle-y ">
            <a href="">Sign in</a>
            <a href="">Sign up</a>






    <%- contents %>

  </div>
      <!-- <footer class="footer"> -->
      <div class=" container">
        <div class="footer">
        <div class=" footercard card card">
          <div class="footerbody row card-body">
            <h1 class=" footertitle card-title text-light">想收到最新消息嗎<br>快訂閱我們！</h1>
            <div class="btn-group col-sm-12 col-md-6  col-lg-4" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-light  btn-lg">輸入您的電子信箱</button>
              <button type="button" class="btn btn-secondary btn-lg">訂閱</button>
            </div>
          </div>
        </div>
      </div>
      <div class=" under">
      <div class="under1 row align-items-end">
        <div class="under-body col-ms-6  col-md-8 col-lg-7 p-3 fs-4"><strong>EXHIBINECTION</strong>
           <span class="text-bs">© 2020. All Rights
            Reserved. </span>
        </div>
        <div class="header-sign col-md-4 col-lg-5 p-3 text-decoration-none text-end ">
          <a class="header-sign-a p-2 text-decoration-none text-reset" href="">Sign in</a>
              <a class="header-sign-a p-2 text-decoration-none text-reset " href="">Sign up</a>
        </div>
      </div>
    </div>
      </div>
      </div>
    </div>
  </div>
  </div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>